
*.~u
*.1
*.bak
*.cfs
*.compiled-library
*.compileinfo
*.del
*.fdt
*.fdx
*.fnm
*.frq
*.prx
*.tclrs
*.tii
*.tis
*.tvd
*.tvf
*.tvx
.tclrs
segments.gen
segments_6f

**/Logs/
**/SearchIndex/
**/temp/
**/IM/
