
*.fdt

*.cfs

*.del

*.fdx

*.fnm

*.frq

*.prx

*.tii

*.tis

*.tvd

*.tvf

*.tvx

TEST_SCL_Blinker/PlcProjekt/IM/SearchIndex/segments.gen

TEST_SCL_Blinker/PlcProjekt/IM/SearchIndex/segments_g

TEST_SCL_Blinker/PlcProjekt/Logs/
